{% extends 'base.html.twig' %}

{% block header_title %}Login{% endblock %}

{% block body %}

    Please login to Facebook to use this demo!<br>
    <a href="{{ loginurl }}">Login</a>

{% endblock %}
