{% extends 'base.html.twig' %}

{% block header_title %}Your profile{% endblock %}

{% block additional_menu %}<li><a href="/logout">Logout</a></li>{% endblock %}

{% block body %}

    {{ profile.Property('name') }}
    {{ picture.Property('url') }}

{% endblock %}
